

.nav_container{
    height: 9vh;
    width: 97.4vw;
    /* background-color: yellowgreen; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 15px 20px;
    position: sticky;
    z-index: 1;
}

.nav_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav_contents .logo {
    width: 30%;
}

.logo p {
    font-size: 39px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 30px;
}

.nav_contents .options {
    width: 50%;
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2.5rem;
}

ul li {
    list-style: none;
}


.options a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: linear 0.3s;
}

.options a:hover {
    scale: 1.02;
}



.nav_contents .side_menu {
    width: 20%;
    display: flex;
    gap: 1rem;
    justify-content: end;

}

.side_menu .icons {
    background-color: #C1F11D;
    border: 2.5px solid black;
    font-size: 21px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 3px 3px 0px black;
    transition: linear 0.2s;
}


.icons:hover {
    box-shadow: none;

}

.options a.active {
    /* text-decoration: underline #C1F11D 5px;
    text-underline-position:below; */
    transition: linear 0.2s;
    color: #C1F11D;
    
}