@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.center_content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* position: relative; */
    height: 100%;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 7.5rem;



}

.left_part {
    height: 100%;
    width: 50%;
    line-height: 1.3;
    /* position: relative; */
    
}

.left_part h3{
    font-size: 54px;
    font-weight: 600;
}

.left_part p{
    font-size: 30px;
    padding-top: 20px;
    font-weight: 400;
}

.left_part span {
    font-family: "Pacifico", cursive;
    font-size: 70px;
    font-weight: 500;
    color: #C1F11D;
}


.right_part {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-left: 1rem;
}

.right_part .image{
    display: flex;
    justify-content: end;
    align-items: center;

}

.image img{
    margin: 0 auto;
    width: 65%;
    
}

.left_part button {
    background-color: #C1F11D;
    color: black;
    height: 50px;
    width: 160px;
    border-radius: 7px;
    border: 3px solid black;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 3px 3px 0px black;
    transition: linear 0.2s;
    cursor: pointer;
}

.left_part button:hover {
    box-shadow: none;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    text-align: center;
}

.text h3 {
    font-size: 30px;
    font-weight: 500;
    font-family: poppins;
}

.text span {
    font-family: pacifico;
    font-size: 29px;
    color: #bbed15;
}

.left_part button {
    background-color: #C1F11D;
    color: black;
    font-size: 18px;
    font-weight: 600;
    height: 54px;
    box-shadow: 3px 3px 0px black;
    transition: linear 0.2s;
}

.left_part button:hover {
    box-shadow: none;
}
