@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: poppins;
    cursor: none;
    z-index: 1000;
    
}

/* .pointer {
    background-color: black;
} */

.main_app_container.light .pointer {
    background-color: #f5f5ee;
}

.cursor {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #C1F11D;
    position: fixed;
}

body {
    overflow-x: hidden;
    background-color: #f5f5ee;

}

.main_app_container.dark ::-webkit-scrollbar-track{
    color: black;
}

.main_app_container.light {
    background-color: #f5f5ee;

}

.main_app_container.dark .nav_container{
    background-color: black;
    color: #C1F11D;

}

.main_app_container.dark i {
    color: black;
}

.main_app_container.dark .landingpage {
    background-color: black;
}

.main_app_container.dark h3 {
    color: #f5f5ee;
}

.main_app_container.dark button {
    border: 3px solid #C1F11D;
    background-color: black;
    color: #C1F11D;
    transition: linear 0.35s
}

.main_app_container.dark button:hover {
    border: 3px solid black;
    background-color: #C1F11D;
    color: black;
}

.main_app_container.dark .main_content_holder {
    background-color: black;
}

.main_app_container.dark .main_container_bottom i{
    color: #C1F11D;
    transition: linear 0.35s

}

.main_app_container.dark .main_container_bottom i:hover{
    color: black;
}

.main_app_container.dark .btn_submit:hover {
    color: black;
}

.main_app_container.dark .upload_section_box {
    background-color: black;
    border: 3px solid #C1F11D;
    box-shadow: 4.5px 4.5px 0px #C1F11D;
    transition: linear 0.3s;
}

.main_app_container.dark .upload_section_box:hover  {
    box-shadow: none;
}

.main_app_container.dark .single_option:hover i {
    color: black;
}


.main_app_container.light .upload_section_box h3,
.main_app_container.light .upload_section_box h2,
.main_app_container.light .upload_section_box h4,
.main_app_container.light .upload_section_box h5 {
    color: black;
}


.main_app_container.dark .upload_section_box h3,
.main_app_container.dark .upload_section_box h2,
.main_app_container.dark .upload_section_box h4,
.main_app_container.dark .upload_section_box h5 {
    color: #C1F11D;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5ee;
}

::-webkit-scrollbar-thumb {
    background-color: #C1F11D;
    border-radius: 5px;
}

.main_app_container.dark ::-webkit-scrollbar-track {
    background-color: black !important; 
}

.main_app_container.dark ::-webkit-scrollbar-thumb {
    background-color: #C1F11D !important; 
    border-radius: 5px;
}

.main_app_container.dark .app-footer {
    background-color: #C1F11D;
}

.main_app_container.dark .app-footer p, .app-footer a {
    color: black;
}



/* .main_app_container.light .upload_section_box h3, h2, h4, h5 {
    color: black;
}

.main_app_container.dark .upload_section_box h3, h2, h4, h5 {
    color: #C1F11D;
} */


